* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    width: 920px;
    margin: auto;
}

main .container {
    margin-top: 7rem;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.nav-bg {
    background-color: #ff6900;
    padding: 1rem;
    margin-bottom: 3rem;
}

.nav-bar {
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 0.5rem;
}

header .list ul {
    list-style: none;
    display: flex;
}

.logo img {
    width: 25%;
    display: block;
}

header .logo {
    display: flex;
    justify-content: center;
}

header .login {
    display: flex;
    color: white;
}

header .login i {
    padding: 0.5rem;
}

.card {
    width: 33%;
    padding-right: 1.5rem;
    padding-bottom: 3rem;
    display: inline-block;
}

.card img {
    width: 100%;
    display: block;
    z-index: 0;
}

.card-img {
    position: relative;
}

.card-img .discount {
    position: absolute;
    bottom: 15%;
    color: white;
    padding: 0.3rem 0.6rem;
    font-weight: bold;
}

.card-img .discount.price {
    left: 0;
    background-color: red;
}

.card-img .discount.written {
    left: 22%;
    background-color: green;
}

.card-img .hearth {
    position: absolute;
    font-size: 3rem;
    background-color: white;
    top: 3%;
    right: 0;
    padding: 0 0.6rem;
}

.txt-red {
    color: red;
    font-weight: bold;
}

.line-through {
    text-decoration: line-through;
}

.card-txt div:nth-child(2) {
    font-weight: bold;
}

.card-img .hearth:hover {
    color: red;
}

.card-img img:hover {
    content: url('../img/1b.webp');
}

.card-img #img2:hover {
    content: url('../img/2b.webp');
}

.card-img #img3:hover {
    content: url('../img/3b.webp');
}

.card-img #img4:hover {
    content: url('../img/4b.webp');
}

.card-img #img5:hover {
    content: url('../img/5b.webp');
}

.card-img #img6:hover {
    content: url('../img/6b.webp');
}

.card-img .discount.written2 {
    background-color: green;
}

.footer-bg {
    background-color: #1a1a1a;
}

.footer-bg {
    color: white;
    padding: 2rem;
}

.footer-txt {
    font-weight: bold;
    font-size: 1.3rem;
    padding-bottom: 1rem;
}

.footer-list {
    display: flex;
    list-style: none;
}

.footer-list li {
    padding-right: 1rem;
}

.footer-list li a {
    text-decoration: none;
    color: white;
}


 .footer-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

 footer i {
    font-size: 1.5rem;
    padding-right:0.5rem;
 }

 .footer-txt2 {
    padding-right: 2rem;
 }